table {
  width: 100%;
  color:rgb(105, 99, 99)
  
}
th {
  text-transform: uppercase;
  color:whitesmoke;
  font-weight: bold;
  background-color: rgb(36, 33, 33);
}
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  color: whitesmoke;
}
.track-row {
  cursor: pointer;
  outline: none;
  border-collapse: separate;
  overflow: hidden;
  background-color: rgb(85, 78, 78);
}

.track-row:hover {
  background:gray;
}

.album-details {
  color: rgba(0, 0, 0, 0.54);
}

.white-text{
  color:whitesmoke;
}