.album-card {
  overflow: hidden;
  margin: 20px 0px;
  padding: 0;
  cursor: pointer;
  height: 500x;
  background-color:rgb(65, 61, 61);
}

.album-title {
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 40px;
  overflow: hidden;
  color: whitesmoke;
}
